.button__login {
    background-color: #6C7BE8;
    width: 90%;
    padding: 23px 0;
    margin-top: 20px;
    border-radius: 30px;
    outline-style: none;
    border: none;
    color: #E5E9FF;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    font-weight: 700;
}